<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="https://launcher.dmptr.com/launcher/ServerPackv2.xsl" type="text/xsl" ?>
<ServerPack version="3.4" 
	xmlns="http://www.mcupdater.com" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mcupdater.com http://files.mcupdater.com/ServerPackv2.xsd">
	<Server id="texturepacks_1.15" version="1.15.2" iconUrl="https://launcher.dmptr.com/launcher/leadcell.png" abstract="false" name="Module: Texture Packs" mainClass="net.minecraft.launchwrapper.Launch" launcherType="Vanilla">
		<Meta>
			<note>A launcher module that includes texture packs.</note>
		</Meta>
		<Module name="unity" id="unity" depends="" side="BOTH">
			<URL priority="0">https://launcher.dmptr.com/modules/1.15/texturepacks/files/unity.zip</URL>
			<Size>10270807</Size>
            <ModPath>resourcepacks/unity.zip</ModPath>
			<Required>true</Required>
			<ModType>Regular</ModType>
			<MD5>cf346c00c159cbe763d6d1bdb6cd09d2</MD5>
		</Module>
    </Server>
</ServerPack>